p {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.busca-result {
    color: #646464;
    border-top: 3px solid #ccc;
    padding-top: 5px;
}

#btn-search,
#btn-clean,
.input-group-text {
    cursor: pointer;
}
